{% extends "blog/base.html" %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Learn More About Us!</h1>
  <p>We are the first National Bank to focus on Crypto-currency transactions.
  We have have exciting projects going on now to help improve the user experience of using cryptocurrencies
  such as Bitcoin, Ethereum, Litecoin, XRP, and Bitcoin Cash.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Decentralization</h3>
      <p>We have dedicated ourselves to make decentralization is incorporated into the world.</p>
    </div>
    <div class="col-sm-6">
      <h3>A bright future</h3>
      <p>We believe crypto currency is the future of all future transactions.</p>
    </div>
  </div>
</div>

{% endblock content %}